<% layout("layout") -%>

<!-- Work -->
<article id="work" class="wrapper style1 closetomiddle">
	<div class="container">
		<header>
			<h2>입양이 확정되었습니다.</h2>
			<!--<p>Odio turpis amet sed consequat eget posuere consequat.</p>-->
		</header>
		<footer>
			<div class="row">
				<div class="col-2 col-1-small">
				</div>
				<div class="col-4 col-5-small">
					<a href="#" class="button large scrolly">보호소 오시는길</a>
				</div>
				<div class="col-4 col-5-small">
					<a href="#" class="button large scrolly">입양시 준비물</a>
				</div>
				<div class="col-2 col-1-small">
				</div>
			</div>
		</footer>
	</div>
</article>

<!-- Portfolio -->
<article id="portfolio" class="wrapper style3">
	<div class="container">
		<header>
			<p><span style="font-weight:bold;"><%=applicant.name%></span>님의 새가족은</br>이런 것들을 좋아해요!</p>
			<!--<p>아래 상품을 확인하세요.</p>-->
		</header>
		<div class="row">
			<div class="col-3 col-6-small">
				<article class="box style2">
					<a href="#" class="image featured shop"><img src="/public/images/shop01.jpg" alt="" /></a>
					<!--<a href="#" class="image featured"><img src="/public/images/shopd01.jpg" alt="" /></a>-->
					<h5><a href="#">ANF 화이트 본 껌 S 1p</a></h5>
					<p><span style="color:orange">37%</span> <s>3,000</s> 1,900원</p>
				</article>
			</div>
			<div class="col-3 col-6-small">
				<article class="box style2">
					<a href="#" class="image featured shop"><img src="/public/images/shop02.jpg" alt="" /></a>
					<!--<a href="#" class="image featured"><img src="/public/images/shopd01.jpg" alt="" /></a>-->
					<h5><a href="#">캐티맨 토로페로 가다랑어&게맛살 30g (6g x 5p)</a></h5>
					<p><span style="color:orange">48%</span> <s>2,000</s> 1,400원</p>
				</article>
			</div>
			<div class="col-3 col-6-small">
				<article class="box style2">
					<a href="#" class="image featured shop"><img src="/public/images/shop03.jpg" alt="" /></a>
					<!--<a href="#" class="image featured"><img src="/public/images/shopd01.jpg" alt="" /></a>-->
					<h5><a href="#">요요쉬 패드 일반 대형 20매</a></h5>
					<p><span style="color:orange">40%</span> <s>12,000</s> 7,200원</p>
				</article>
			</div>
			<div class="col-3 col-6-small">
				<article class="box style2">
					<a href="#" class="image featured shop"><img src="/public/images/shop04.jpg" alt="" /></a>
					<!--<a href="#" class="image featured"><img src="/public/images/shopd01.jpg" alt="" /></a>-->
					<h5><a href="#">요요쉬 패드 일반 대형 20매</a></h5>
					<p><span style="color:orange">32%</span> <s>11,000</s> 7,500원</p>
				</article>
			</div>
		</div>
		<!--<footer>-->
		<!--	<p>Lorem ipsum dolor sit sapien vestibulum ipsum primis?</p>-->
		<!--	<a href="#contact" class="button large scrolly">Get in touch with me</a>-->
		<!--</footer>-->
	</div>
</article>