<article id="contact" class="wrapper style4 footer">
	<div class="container medium">
		<footer>
			<ul id="copyright">
				<li>&copy; 2016<script>document.write('-' + new Date().getFullYear())</script>. Boys Next Door. All rights reserved.</li>
				<li>--</li>
			</ul>
		</footer>
	</div>
</article>