<!-- Nav -->
<nav id="nav">
	<ul class="container">
		<li><a href="/">홈</a></li>
		<li><a href="/list" class="">입양하기</a></a></li>
		<li><a href="/support">후원</a></li>
		<li><a href="/mall">펫트너Mall</a></li>
		<li><a href="/mypage">마이페이지</a></li>
	</ul>
</nav>