<% layout("layout") -%>

<!-- Work -->
<article id="work" class="wrapper style1 closetomiddle">
	<div class="container">
		<header>
			<h2>신청이 완료되었습니다.</h2>
			<!--<p>Odio turpis amet sed consequat eget posuere consequat.</p>-->
		</header>
		<footer>
			<p>'입양'을 신청하신 김철수님의 대기순위는 현재 <script>document.write(Math.ceil(Math.random() * 10))</script>위 입니다.</p>
			<a href="/apply/confirmed" class="button large scrolly">확인</a>
		</footer>
	</div>
</article>