<% layout("layout") -%>

<div class="about-wrapper">
	<div class="hello">
		<div class="jejugothic italic one_p_five_rem">Doh</div>
		<div class="jejugothic italic one_p_five_rem">FerretKim</div></br>
		<div class="jejugothic italic one_p_five_rem">& credits for</div>
		<div class="jejugothic italic one_p_five_rem">the Jahayeons</div>
	</div>
	
</div>
