<% layout("layout") -%>

<div class="loginForm">
    <form method="post" name="userinfo" action="/admin">
        <div class="box">
            <input type="text" name="id" class="iText" placeholder="아이디">
            <br>
            <input type="password" name="password" id="" class="iText", placeholder="비밀번호">
        </div>
        <button type="submit" id="" class="loginBtn">로그인<button>
    </form>
</div>