<div class="ui inverted vertical center aligned segment">

    <div class="ui container" id="header">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item" id="home" href="/">신의한수</a>
        <a class="item" id="projects" href="/projects">프로젝트</a>
        <a class="item" id="players" href="/players">선수</a>
        <a class="item right" id="mypage" href="/mypage">마이페이지</a>
        <a class="item" id="signup" href="/signup">회원가입</a>
        <a class="item" id="login" href="/login">로그인</a>
      </div>
    </div>

</div>