<% layout("layout") -%>



<div class="ui vertical stripe segment">
    
    <div class="ui container">
        <h2>당신의 한 수는 누구에게 맡기겠습니까</h2>
        <h4>한번에 끝내는 쉬운 아웃소싱 <b>신의한수</b></h4>
    </div>
    <div class="ui container">
        내용
    </div>
    <a class="ui red circular label" style="float: right">시작</br>하기</a>
 
</div>


