<% layout("layout") -%>

<div class="ui vertical stripe segment">
    
    <div class="ui grid container">
        
        <div class="one column centered row">
            <div class="ui column card">
                
                <div class="content">
                  <div class="ui left floated white horizontal label">개발</div>
                  <div class="left floated header">프로젝트 이름</div>
                </div>
                
                <div class="ui grid">
                  <div class="centered row">
                    <div class="four wide column">
                        
                        <div class="content">
                          <h4 class="ui sub header">Activity</h4>
                          <div class="ui small feed">
                            <div class="event">
                              <div class="content">
                                <div class="summary">
                                   <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                                </div>
                              </div>
                            </div>
                            <div class="event">
                              <div class="content">
                                <div class="summary">
                                   <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                                </div>
                              </div>
                            </div>
                            <div class="event">
                              <div class="content">
                                <div class="summary">
                                   <a>Helen Troy</a> added two pictures
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="extra content">
                          <button class="ui button">Join Project</button>
                        </div>
                
                    </div>
                    <div class="thirteen wide column">
                      
                      <div class="content">
                        <h4 class="ui sub header">Activity</h4>
                        <div class="ui small feed">
                          <div class="event">
                            <div class="content">
                              <div class="summary">
                                 <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                              </div>
                            </div>
                          </div>
                          <div class="event">
                            <div class="content">
                              <div class="summary">
                                 <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
                              </div>
                            </div>
                          </div>
                          <div class="event">
                            <div class="content">
                              <div class="summary">
                                 <a>Helen Troy</a> added two pictures
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="extra content">
                        <button class="ui button">Join Project</button>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
