<% layout("layout") -%>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container" id="showcases">

      <div class="center aligned row">
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="browser icon"></i>
              수파자
            </div>
            <img src="images/supaja.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="https://supaja.com/" target="_blank">
                    <i class="external icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="browser icon"></i>
              GetYourIdol
            </div>
            <img src="images/idol.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="http://www.getyouridol.xyz/" target="_blank">
                    <i class="external icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="mobile icon"></i>
              샤달 (현 캠퍼스달)
            </div>
            <img src="images/shadal.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="https://www.youtube.com/watch?v=PXbFylVVdUw" target="_blank">
                    <i class="film icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="mobile icon"></i>
              학식은나의빛
            </div>
            <img src="images/haxictas.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="https://play.google.com/store/apps/details?id=org.appeyroad.bob" target="_blank">
                    <i class="download icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="center aligned row">
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="mobile icon"></i>
              플래닛 크래커
            </div>
            <img src="images/planet_cracker.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="https://www.youtube.com/watch?v=Sqv3YB9iXZo&feature=youtu.be" target="_blank">
                    <i class="film icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="mobile icon"></i>
              D7
            </div>
            <img src="images/D7_1.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="images/D7_2.png" target="_blank">
                    <i class="image icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="browser icon"></i>
              한글 온라인
            </div>
            <img src="images/hangul.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="https://hangul.online" target="_blank">
                    <i class="external icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="browser icon"></i>
              Politicat
            </div>
            <img src="images/politicat_1.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="images/politicat_2.png" target="_blank">
                    <i class="image icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="center aligned row">
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="mobile icon"></i>
              데일리 프린터 토스트
            </div>
            <img src="images/toast.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="images/big_toast.png" target="_blank">
                    <i class="image icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="four wide column">
          <div class="ui fluid bordered rounded image">
            <div class="ui black right ribbon label">
              <i class="mobile icon"></i>
              카 셰어링 MOIA
            </div>
            <img src="images/moia.png">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <a class="ui circular icon button" href="https://youtu.be/sZfmYJyFjLg" target="_blank">
                    <i class="film icon"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          <a class="ui huge primary button" href="request.html">외주 의뢰하기</a>
        </div>
      </div>

    </div>
  </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="index.html" class="item">신의한수</a>
            <a href="portfolio.html" class="item">포트폴리오</a>
            <a href="#" class="item">옆방젊은이</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="/request" class="item">외주 의뢰</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Copyright</h4>
          <p>Copyright © 2016<script>document.write('-' + new Date().getFullYear())</script>. Boys Next Door. All rights reserved.</p>
        </div>
      </div>
    </div>