<% layout("layout") -%>




<div class="ui bottom attached tab segment active" data-tab="dev">
  
  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <div class="ui  three item menu attached">
        <a class="item active" data-tab="dev">개발</a>
        <a class="item" data-tab="design">디자인</a>
        <a class="item" data-tab="mkt">마케팅</a>
      </div>
      개발 의뢰하기
      <form class="ui form" action="/request" method="post">
        <div class="field">
          <label>프로젝트 명</label>
          <input type="text" name="프로젝트 명" placeholder="프로젝트 이름을 입력해 주세요.">
        </div>
        <div class="field">
          <label>예상 시작일</label>
          <input type="date" name="예상 시작일" placeholder="연도-월-일 형식입니다. 확실하지 않을 경우 비워 주세요." class="datepicker">
        </div>
        <div class="field">
          <label>예상 마감일</label>
          <input type="date" name="예상 마감일" placeholder="연도-월-일 형식입니다. 확실하지 않을 경우 비워 주세요." class="datepicker">
        </div>
        <div class="field">
          <label>예상 소요 기간</label>
          <input type="text" name="예상 소요 기간" placeholder="2주, 3개월 등">
        </div>
        <div class="fields">
          <div class="three wide field">
            <label>예상 소요 비용</label>
            <input type="number" name="예상 소요 비용" value="0">
          </div>
          <div class="field">
            <label>　</label>
            <input value="만원" style="border: none;" readonly="">
          </div>
        </div>
        <div class="field">
          <label>프로젝트 분류</label>
        </div>
        <div class="equal width fields">
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" name="프로젝트 분류" value="모바일 애플리케이션" class="hidden">
              <label>모바일 애플리케이션</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" name="프로젝트 분류" value="웹 서비스" class="hidden">
              <label>웹 서비스</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" tabindex="0" class="hidden etc" value="etc" data-field="category">
              <label>기타</label>
            </div>
          </div>
        </div>
        <div class="field">
          <input type="text" class="etc" name="프로젝트 분류" placeholder="기타 앱 분류를 입력해 주세요." data-field="category">
        </div>
        <div class="field">
          <label>프로젝트 진행 상황</label>
          <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" name="프로젝트 진행 상황" data-field="status">
            <i class="dropdown icon"></i>
            <div class="default text">프로젝트 진행 상황</div>
            <div class="menu" tabindex="-1">
              <div class="item" data-value="기초 구상">기초 구상</div>
              <div class="item" data-value="상세 기획">상세 기획</div>
              <div class="item" data-value="운영 중">운영 중</div>
              <div class="item" data-value="etc">기타</div>
            </div>
          </div>
        </div>
        <div class="field">
          <input type="text" class="etc" name="프로젝트 진행 상황" placeholder="기타 진행 상황을 입력해 주세요." data-field="status">
        </div>
        <div class="required field">
          <label>프로젝트 진행 방식</label>
          <textarea type="text" name="프로젝트 진행 방식" placeholder="미팅 일정과 소통 방식 등을 포함합니다." rows="2"></textarea>
        </div>
        <div class="required field">
          <label>프로젝트 상세 내용</label>
          <textarea type="text" name="프로젝트 상세 내용" placeholder="프로젝트에 대해 상세한 기획 내용을 알려 주세요." rows="5"></textarea>
        </div>
        <div class="field">
          <label>기술적 요구 사항</label>
          <textarea type="text" name="기술적 요구 사항" placeholder="현재 보유한 장비, 특정 기술 사용 여부 등을 의미합니다." rows="3"></textarea>
        </div>
        <div class="required field">
          <label>기능적 요구 사항</label>
          <textarea type="text" name="기능적 요구 사항" placeholder="필수적으로 구현해야 하는 기능 등을 입력해 주세요." rows="3"></textarea>
        </div>
        <div class="field">
          <label>디자인 요구 사항</label>
          <textarea type="text" name="디자인 요구 사항" placeholder="특정 테마, 주요 색상 등이 있다면 입력해 주세요." rows="3"></textarea>
        </div>
        <div class="field">
          <label>기타 사항</label>
          <textarea type="text" name="기타 사항" placeholder="프로젝트에 대해 기타 참고할 사항을 입력해 주세요." rows="5"></textarea>
        </div>
        <div class="required field">
          <label>연락처</label>
          <input type="text" name="연락처" placeholder="이메일이나 전화번호, 카카오톡 아이디 등 연락처를 입력해 주세요.">
        </div>
        <div class="required field">
          <label>공개 모집 여부</label>
          <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" name="_public" data-field="status">
            <i class="dropdown icon"></i>
            <div class="default text">공개 모집 시 공고를 모든 개발자가 확인할 수 있습니다.</div>
            <div class="menu" tabindex="-1">
              <div class="item" data-value="1">공개</div>
              <div class="item" data-value="0">비공개</div>
            </div>
          </div>
        </div>
        <div class="required field">
          <label>포트폴리오 허가 여부</label>
          <div class="ui selection dropdown" tabindex="0">
            <input type="hidden" name="_portfolio" data-field="status">
            <i class="dropdown icon"></i>
            <div class="default text">허가 시 신의한수 포트폴리오에 추가될 수 있습니다.</div>
            <div class="menu" tabindex="-1">
              <div class="item" data-value="1">허가</div>
              <div class="item" data-value="0">비허가</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>기획서, 유저 플로우 등 참고 파일</label>
          <input id="file" type="file" name="첨부 파일">
        </div>
        <button class="ui right floated button" type="submit">의뢰</button>
      </form>
    </div>
  </div>
  
</div>
<div class="ui bottom attached tab segment" data-tab="design">
  디자인
</div>
<div class="ui bottom attached tab segment" data-tab="mkt">
  마케팅
</div>


	
	

<script src="/javascripts/request.js" type="text/javascript"></script>
<script src="javascripts/datepicker.min.js"></script>
<script src="javascripts/datepicker.ko-KR.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/datepicker.min.css">
