<% layout("layout") -%>

<div class="ui vertical stripe segment">
        
    <div class="ui container grid center aligned">
      <div class="centered row">
        <h2>방금 그 선택, <b>신의 한수</b> 였습니다.</h2>
      </div>
      <div class="centered row">
        <h3>가입이 완료되었습니다. </br> 이제 쉽게 아웃소싱을 진행해보세요!</h3>      
      </div>

      
      
      
            <div style="margin:3rem auto auto auto">
              <div class="ui center aligned secondary basic button">
                  로그인
              </div>
            </div>

    
      
    </div>
    
</div>