<% layout("layout") -%>

<div class="ui vertical stripe segment">
        
    <div class="ui container ">
      
      
      <div class="" style="margin:auto;width:460px" >
            <div class="">
              <form class="ui form" action="/request" method="post">
                <div class="field required">
                  <label>Username</label>
                  <div class="ui input ">
                    <input type="text" placeholder="Usernames">
                  </div>
                </div>
                <div class="field required">
                  <label>Email</label>
                  <div class="ui input">
                    <input type="text" placeholder="Email">
                  </div>
                </div>
                <div class="field required">
                  <label>Password</label>
                  <div class="ui input">
                    <input type="password" placeholder="Password">
                  </div>
                </div>
                <div class="field required">
                  <label>Password 확인</label>
                  <div class="ui input">
                    <input type="password" placeholder="Password">
                  </div>
                </div>
                
                <div class="ui field">
                  <div class="ui segment" style="overflow:scroll;height:7rem">
                    동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세 남산 위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세 이 기상과 이 마음으로 충성을 다하여 괴로우나 즐거우나 나라사랑하세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세
                  </div>
                  <div class="ui field checkbox" style="float:right">
                    <input type="checkbox" name="이용약관">
                    <label>이용약관 동의</label>
                  </div>
                  <div style="clear:both"></div>
                </div>
                
                <div class="ui field">
                  <div class="ui segment" style="overflow:scroll;height:7rem">
                    동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세 남산 위에 저 소나무 철갑을 두른듯 바람서리 불변함은 우리 기상일세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세 가을 하늘 공활한데 높고 구름 없이 밝은 달은 우리 가슴 일편단심일세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세 이 기상과 이 마음으로 충성을 다하여 괴로우나 즐거우나 나라사랑하세 무궁화 삼천리 화려 강산 대한사람 대한으로 길이 보전하세
                  </div>
                  <div class="ui field checkbox" style="float:right">
                    <input type="checkbox" name="개인정보">
                    <label>개인정보 취급방침 동의</label>
                  </div>
                  <div style="clear:both"></div>
                </div>
                
                
                <div class="ui field grid">
                  <div class="one column centered row">
                    <button class="ui column center aligned secondary submit button" style="height:60px">
                      <div style="vertical-align:middle">
                          회원가입
                       </div>
                    </button>
                  </div>
                </div>
              </form>
            </div>

      </div>
      
    </div>
    
</div>